@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

  body {
    background-image: url("../img/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 750px;
    background-position: 115% -13%;
  }

  #cta {
    background-image: url(../img/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-position: -200% 100%;
  }

  .hamburger > .open {
    display: block;
  }

  .hamburger > .close {
    display: none;
  }

  @media(max-width: 576px) {
    body {
      background-image: url("../img/bg-tablet-pattern.svg");
      background-repeat: no-repeat;
      background-size: 400px;
      background-position: -60% -2%;
    }
  
    #cta {
      background-image: url(../img/bg-simplify-section-mobile.svg);
      background-repeat: no-repeat;
      background-position: 0% 0%;
    }  
  }